@charset "utf-8";
/* CSS Document */

html {
	background-image:url(../images/background.jpg);
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #CCCCCC;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:14px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin:0.3em 0 0.5em 0;
}
h1 {font-size: 32px;}
h2 {font-size: 26px;}
h3 {font-size: 24px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}

a:link, 
a:visited {
	color:#7B0709;
	text-decoration: none;
}
a:hover {
	color:#B46D06;
	text-decoration: underline;
}
a:active {
	color:#686868;
}

img {
	vertical-align: bottom;
}

#wrapper {
	width:960px;
	background-color:#FFFFFF;
	margin: 30px auto;
	padding: 15px;
	border-radius: 6px;
}
#header {
	background-color: #7B0709;
	margin-bottom: 15px;
	overflow: hidden;
	color:#FFF;
	padding: 10px;
}
#logo {
	float:left;
}
#slogan {
	float:right;
	font-size: 20px;
	font-style:italic;
}
#nav {
	background-color: #1A1A1A;
	height:40px;
	margin-bottom: 15px;
}
#nav ul {
	margin:0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float:left;
	position: relative;
}

#nav ul li ul li ul {
	top:0;
	left:140px;
}
#nav ul li a {
	display: block;
	padding: 10px;
	height:20px;
}
#nav ul li ul {
	width:140px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top:40px;
	left:0;
	display:none; /* sakriveno u startu */
}

#nav ul li:hover > ul {
	display:block;
}

#nav ul li ul li {
	float:none;
}

#nav ul li a:link, 
#nav ul li a:visited {
	color:#FFF;
	text-decoration: none;
}
#nav ul li a:hover {
	background-color: #7B0709;
}
#nav ul li a:active {
	background-color: #999;
	color:#000;
}
#social{
float: right;
font-size:26px;
margin-right:20px;
	
}
#social a:link,
#social a:visited {
	color:#878787;
}
#social a:hover {
	color:#FFFFFF;
	}
#social a:active {
	color:#7B0709;
}
#main {
	float: left;
	width:700px;
	margin-right:20px;
}
#sidebar {
	float: left;
	width:240px;
}

#sidebar h2 {
	background-color: #BBB;
	color:#FFF;
	padding: 3px;
}

#footer {
	background-color: #353535;
	clear: both;
	color:#999;
	text-align: center;
	padding: 5px;
}
#footer p {
	margin:0;
}


.work {
	border: 1px solid #CCC;
	margin: 0 20px 10px 0;
	padding: 10px;
	float: left;
	width: 318px;
}
.work:nth-of-type(2n) {
	margin-right: 0;
}

.work img {
	float:left;
    margin:0 10px 2px 0;
}




















